sudo: false
language: go
go:
  - 1.9
  - "1.10"
  - tip

env:
  - DEP_VERSION="0.4.1"

matrix:
  allow_failures:
    - go: tip

before_install:
  - curl -L -s https://github.com/golang/dep/releases/download/v${DEP_VERSION}/dep-linux-amd64 -o ${GOPATH}/bin/dep
  - chmod +x ${GOPATH}/bin/dep

install:
  - dep ensure

services:
  - redis-server
